@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/Superadmin_Layout.cshtml";
}

<style>
.center-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 3rem;
    color: black;
    letter-spacing: 2px;
}
</style>

<div class="center-dashboard">
    Dashboard
</div>

