@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/Superadmin_Layout.cshtml";
}

<div class="history-container">
    <div class="history-table-container">
        <!-- Components table  -->
           @await Component.InvokeAsync("Table", new { 
            columnNames = new List<string> { "ID", "Name", "Phone",
                "ID_Restaurant", "Role", "Status","Action"
                }, 
            tableBodyId = "staffBody" 
        })
    </div>

    @await Component.InvokeAsync("Pagination", new Components.Model.Pagination.PaginationComponentModel {
        CurrentPage = 1,
        TotalPages = 1,
        TotalItems = 1,
        ItemsPerPage = 15,
        PageAction = "staffPageChange"
    })
</div>

@section Scripts {
    <script src="~/js/logic/qltk_admin.js"></script>
}


