<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- MIME types for favicon -->
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    
    <!-- Cache configuration -->
    <caching>
      <profiles>
        <add extension=".ico" policy="CacheForTimePeriod" duration="00:01:00:00" />
        <add extension=".png" policy="CacheForTimePeriod" duration="00:01:00:00" />
        <add extension=".jpg" policy="CacheForTimePeriod" duration="00:01:00:00" />
        <add extension=".jpeg" policy="CacheForTimePeriod" duration="00:01:00:00" />
        <add extension=".gif" policy="CacheForTimePeriod" duration="00:01:00:00" />
        <add extension=".svg" policy="CacheForTimePeriod" duration="00:01:00:00" />
      </profiles>
    </caching>
    
    <!-- URL Rewrite for favicon -->
    <rewrite>
      <rules>
        <rule name="Favicon" stopProcessing="true">
          <match url="^favicon\.ico$" />
          <action type="Rewrite" url="/favicon.ico" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>